.container{
    width: 400px;
    height: 200px; 
    padding: 20px;
    color: black;
    background-color: rgb(188, 214, 225);
    margin: 0 auto;
    margin-top:30%;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    border:none;
}

.container h2{

    text-align:center;
    color: black;
}

.container button{

    padding: 10px 20px; 
    margin-top: 20px; 
    cursor: pointer;
    border-radius: 5px;
    background-color: #040404; 
    color: white;
    border: none;
}